header{
  background-color: $royal-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  .user-details{
    .user-name{
      h2{
        @include standard-text;
        margin: 0;
        font-weight: bold;
        font-size: 25px;
      }
    }
    .user-title{
      p{
        @include standard-text;
        margin: 0;
        font-size: 18px;
      }
    }
  }
}

@media only screen and (min-width : 768px) {
  header{
    .user-details{
      .user-name{
        h2{
          font-size: 40px;
        }
      }
      .user-title{
        p{
          font-size: 20px;
        }
      }
    }
  }
}
