.login-form{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f5f6fa;
  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .row{
      justify-content: center;
      display: flex;
      .login-inner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 30px;
        img{
          width: 70%;
          margin: auto;
        }
        form{
          margin: 0;
          width: 100%;
          input{
            font-family: 'Inter', sans-serif;

          }
          button{
            font-family: 'Inter', sans-serif;
            width: 100px;
            background-color: $SucessGreen;
            border-style: none;
            outline-style: none;
            &:active{
              border-style: none;
            }
          }
        }
      }
    }
  }
}
