header{
  max-width: 100vw;
  background-color: $SolitonBlue;
  padding: 25px 0;
  margin: 0;
  .container{
    height: 100px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    .row{
      margin: 0;
      .details-container{
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
        .name-title{
          h2{
            color: white;
            font-family: 'Russo One', sans-serif;
          }
          h3{
            color: white;
            font-family: 'Russo One', sans-serif;
          }
        }
      }
      nav{
        padding: 0;
        margin: 0;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
          display: flex;
          justify-content: flex-end;
          margin: 0;
          li{
            a{
              color: white;
              margin-right: 25px;
              font-family: 'Inter', sans-serif;
              &:hover{
                text-decoration: none;
              }
            }
          }
          form{
            button{
              border-style: none;
              background-color: $SolitonBlue;
              color: white;
              font-family: 'Inter', sans-serif;
            }
          }
        }
      }
    }
  }
}
