@mixin form-input{
  height: 50px;
  outline: none;
  border-style: none;
  padding: 0 20px;
  background-color: $light-grey;
}

@mixin form-submit{
  @include form-input;
  background-color: $submit-green;
  font-weight: bold;
}

@mixin standard-text{
  color: white;
}
